<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    @RenderSection("Head", required:false)

</head>
<body>
    <div>
        @RenderBody()

        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
